*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.red{
    color: red;
    text-align: center;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: crimson;
    transition: 0.2s all;
}
a:hover{
    color: crimson;
    font-weight: bolder;
}

/* body data */
.body-data{
    min-height: 60vh;
}


/* login pages */
.login-container {
      height: 100vh;
    }
    .login-form {
      max-width: 400px;
      width: 100%;
      padding: 30px;
      background: white;
      border-radius: 8px;
      box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }
    